<table id="dg" class="easyui-datagrid" rownumbers="true" url="players/data" pagination="true" pageList="[20,30,40,50]" pageSize="20">
  <thead>
    <tr>
      <th data-options="field:'name'">用户</th>
      <th data-options="field:'nick_name'">昵称</th>
      <th data-options="field:'token'">序列号</th>
    </tr>
  </thead>
</table>
