<div class="easyui-accordion" data-options="fit:true,border:false">
	<div data-options="iconCls:'icon-folder-doc',title:'产品管理'">
		<a href="javascript:void(0);" src="/tmu_admin/players" data-options="plain:true,iconCls:'icon-runner'" class="cs-navi-tab easyui-linkbutton">用户管理</a>
		<a href="javascript:void(0);" src="/tmu_admin/active_devices" data-options="plain:true"  iconCls="icon-runner" class="cs-navi-tab easyui-linkbutton">设备管理</a>
		<a href="javascript:void(0);" src="/tmu_admin/apps" data-options="plain:true"  iconCls="icon-runner" class="cs-navi-tab easyui-linkbutton">应用管理</a>
		<a href="javascript:void(0);" src="/tmu_admin/rooms" data-options="plain:true"  iconCls="icon-runner" class="cs-navi-tab easyui-linkbutton">房间管理</a>
	</div>
	<div data-options="iconCls:'icon-folder-doc',title:'系统配置'">
		<a href="javascript:void(0);" src="/tmu_admin/users" data-options="plain:true"  iconCls="icon-runner" class="cs-navi-tab easyui-linkbutton">在线奖励配置</a>
		<a href="javascript:void(0);" src="/tmu_admin/users" data-options="plain:true"  iconCls="icon-runner" class="cs-navi-tab easyui-linkbutton">系统用户管理</a>
	</div>
</div>