<table id="dg" class="easyui-datagrid" rownumbers="true" url="users/data" pagination="true" pageList="[20,30,40,50]" pageSize="20">
	<thead>
		<tr>
			<th data-options="field:'login'">登陆名</th>
			<th data-options="field:'name'">姓名</th>
			<th data-options="field:'email'">邮箱</th>
			<th data-options="field:'access_level'">用户级别</th>
			<th data-options="field:'last_login_at'">上次登陆时间</th>
			<th data-options="field:'last_login_ip'">上次登陆IP地址</th>
		</tr>
	</thead>
</table>
