<table id="dg" class="easyui-datagrid" rownumbers="true" url="active_devices/data" pagination="true" pageList="[20,30,40,50]" pageSize="20">
  <thead>
    <tr>
      <th data-options="field:'device'">设备号</th>
      <th data-options="field:'serail'">设备激活码</th>
    </tr>
  </thead>
</table>
